
// Default colors
$modal-color: rgb(192, 192, 220);
// $bg-color: rgb(238, 238, 238);
// $bg-color: rgb(255, 255, 255);
$bg-color: #F1F5F8;
$border-color: rgb(115, 114, 114);

//Default sizes
$navbar-height: 64px;

$line-color: #e2e4e5;
$line-color-dark: #555555;
$selected-line-color: #87cef1;
$bkg-color: #e2e4e5;
$header-bkg-color: #171b63;
$header-color: #fff;
$nav-bkg-color: #fff;
$nav-color: rgb(39, 37, 148);
$input-border-color: #b6b2b2;
$input-text-color: #525050;
$shadow: 3px 3px 6px 0 #c2bcc2;

$link-color: #4679e9;
$mat-icon-color: #456abb;

$mat-icon-size: 22px;

$kara-dark-gray: rgb(47,62,82);
$kara-light-gray: rgb(59,74,94);

$default-radius: 6px;
