/* You can add global styles to this file, and also import other style files */

// $fa-font-path : '../node_modules/font-awesome/fonts';
// @import '../node_modules/font-awesome/scss/font-awesome.scss';
@import './variables.scss';

body, html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    font: 200 14px/1.5 Roboto, Verdana, sans-serif;
}

