<div class="server-error">
   <div class="server-error-badge">X</div>
   <p>Whoops !</p>
   <p>El servidor no respondió.</p>
   <div class="loader-button-container">
        <loader-button class="loader-button"
            caption="Reintentar" 
            color="#ffffff" 
            bg-color="#e4060b"
            width="270px"
            height="45px"
            font-size="17px"
            (click)="onClick($event)"
        ></loader-button>
    </div>
    <!-- hbg-color="#941416" -->
</div>
