<div class="title-container">
    <!-- <h2>{{formTitle}}</h2> -->
    <!-- <mat-icon class="icon" (click)="onClose($event)">close</mat-icon> -->
</div>
<form class="edit-form" [formGroup]="editForm">


    <div class="flex-start">
        <mat-form-field appearance="outline" style="width: 49%;">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="Nombre" required>
            <mat-error *ngIf="flget('Nombre').invalid">{{getErrorMessage('Nombre')}}</mat-error>
        </mat-form-field>
    </div>

    <div class="flex-start">
        <mat-form-field appearance="outline" style="width: 49%;">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="Apellido" required>
            <mat-error *ngIf="flget('Apellido').invalid">{{getErrorMessage('Apellido')}}</mat-error>
        </mat-form-field>
    </div>

    <div class="flex-row-space-between">
        <mat-form-field appearance="outline" style="width: 49%;">
            <mat-label>Tipo Doc</mat-label>
            <input matInput formControlName="TipoDoc" type="text" [matAutocomplete]="tipodoc">
            <mat-error *ngIf="flget('TipoDoc').invalid">{{getErrorMessage('TipoDoc')}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 49%;">
            <mat-label>Nro Doc</mat-label>
            <input matInput formControlName="NroDoc" type="text">
            <mat-error *ngIf="flget('NroDoc').invalid">{{getErrorMessage('NroDoc')}}</mat-error>
        </mat-form-field>
    </div>

    <div class="flex-row-space-between">
        <mat-form-field appearance="outline" style="width: 49%;">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput formControlName="FechaNac" type="date" (blur)="CalculaEdad()">
            <mat-error *ngIf="flget('FechaNac').invalid">{{getErrorMessage('FechaNac')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 49%;">
            <mat-label>Edad</mat-label>
            <input matInput formControlName="Edad">
        </mat-form-field>
    </div>

    <div class="flex-row-space-between">
        <mat-form-field appearance="outline" style="width: 49%;">
            <mat-label>Obra Social</mat-label>
            <input matInput formControlName="ObraSocial">
            <mat-error *ngIf="flget('ObraSocial').invalid">{{getErrorMessage('ObraSocial')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 49%;">
            <mat-label>Nro Afiliado</mat-label>
            <input matInput formControlName="NroAfiliado">
            <mat-error *ngIf="flget('NroAfiliado').invalid">{{getErrorMessage('NroAfiliado')}}</mat-error>
        </mat-form-field>
    </div>

    <mat-autocomplete #tipodoc="matAutocomplete">
        <mat-option *ngFor="let tipodoc of tiposdoc" [value]="tipodoc">{{tipodoc}}</mat-option>
    </mat-autocomplete>

</form>

<div class="btn-container">
    <loader-button
        caption="Cancelar" 
        bg-color="#ffffff" 
        color="#0366d6"
        width="100%"
        [loading]="false" 
        (click)="onSave($event)"
    ></loader-button>
    <loader-button
        caption="Guardar" 
        bg-color="#ffffff" 
        color="#0366d6"
        width="100%"
        [loading]="false" 
        (click)="onSave($event)"
    ></loader-button>
</div>
